:root {
  --bg_main: #3435ce;
  --bg_main_botons: #e9352b;
  --bg_main_botons_hover: #fe5b52;
}
.containerLogin,
.containerRegister {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  height: 100%;
  width: 50%;
  background-color: var(--bg_main);
  padding: 0 3pc;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1pc;
}
.right-register {
  height: 100%;
  width: 50%;
  background-color: var(--bg_main);
  padding: 0 3pc;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.right h1 {
  font-size: 2pc;
}
.logo {
  width: 13pc;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0.1pc;
}
input[type="text"],
select,
input[type="password"] {
  padding: 0.7pc;
  border-radius: 5px;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.6pc;
  width: 100%;
}
.form-register {
  display: flex;
  flex-direction: column;
  gap: 1pc;
  width: 100%;
}
.eyes {
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 0.6pc;
}
.eyes img {
  width: 1pc;
}
.eyes input[type="password"] {
  width: 33pc;
}
.old {
  text-align: end;
  padding-right: 0.6pc;
}
.btn {
  margin-top: 1pc;
  font-size: 1.5pc;
  text-align: center;
}
.btn button {
  width: 100%;
  padding: 12px;
  color: white;
  background: var(--bg_main_botons);
  border: none;
  border-radius: 5px;
}
.btn button:hover {
  background-color: var(--bg_main_botons_hover);
}

@media screen and (max-width: 768px) {
  .containerRegister {
    flex-direction: column;
    background-color: var(--bg_main);
  }
  .right-register {
    width: 90%;
    padding: 0;
  }
  .left {
    display: none;
  }
  .right {
    width: 90%;
    padding: 0 1pc;
  }
}
